fastapi
uvicorn[standard]
python-multipart

langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.38
langchain-groq

pypdf
faiss-cpu
sentence-transformers

python-dotenv
openai
tiktoken

bcrypt
passlib[bcrypt]

pydantic
numpy
requests
aiofiles
httpx