fastapi
uvicorn[standard]
python-multipart

langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.38
langchain-groq

pypdf
faiss-cpu
sentence-transformers

python-dotenv
openai
tiktoken

bcrypt==4.1.2
passlib==1.7.4
PyJWT

pydantic
numpy
requests
aiofiles
httpx

# railway rebuild